@{
    ViewBag.Title = "Home Page";
}
<style>
    h2,h3 {
        margin: 0 auto;
        
        font-weight:bold;
    }
    .centro {
        margin: 0 auto;
        font-weight: bold;
    }
</style>
<h2>Página inicial</h2><br/>
<h3>Login</h3><br/>

<label for="login">Login:</label>
<input type="text" placeholder="Digite aqui o seu login" id="login" class="centro"/><br/><br />

<label for="senha">Senha:</label>
<input type="password" placeholder="Digite aqui a sua senha" id="login" class="centro"/>

<input type="submit" placeholder="Logar"/>