@{
    ViewBag.Title = "Home Page";
}
<style>
     h2,h3 {
         margin: 0 auto;
        
         font-weight:bold;
     }
    .centro {
        margin: 0 auto;
        font-weight: bold;
    }
</style>

@using (Html.BeginForm())
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div style="margin-top: 3%">
    <h2 style="margin-left: 40%">Página inicial</h2><br/>
        <h3 style="margin-left: 43.5%">Login</h3><br/>

    @if(Session["Login"] == null)
     {
         <div style="margin-left: 40%">
             <label for="login" style="margin-left: 70px">Login</label><br/>
             <input type="text" autocomplete="off" placeholder="Digite aqui o seu login" name="LoginU" id="login" class="centro"/><br/><br/>

             <label for="senha" style="margin-left: 70px">Senha</label><br />
             <input type="password" placeholder="Digite aqui a sua senha" name="Senha" id="senha" class="centro"/><br/><br/>

             <input type="submit" placeholder="Logar" style="margin-left: 7%" value="Logar"/>
         </div>
    }
    else
    {
        <div style="margin-left: 43.7%">@Html.ActionLink("Deslogar", "Logoff")</div>
    }
    </div>
}
